/dev
/dev123
/development
/kiukitours
/kiukiold
/node_modules
/public/hot
/public/storage
/public/detail_images/*
/public/product_images/*
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/dev
/staging
.ftpquota
